[safe]
	directory = /storage/emulated/0/Download/vish-marketplace
	directory = /storage/emulated/0/Download/vish-marketplace
	directory = /storage/emulated/0/Download/vish-marketplace
[user]
	email = email@example.com
	name = pubgafg
